{% extends 'default/base.html' %}

{% block title %}
	Titulo
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<table class="table table-striped table-hover">
			{% if object_list %}
			<thead>
				<td>horarios</td>
				{% if perms.horario.add_sala%}
					<td>Acciones</td>
				{% endif %}
			</thead>
			<tbody>
				{% for horario in object_list %}
				<tr>
					<td>{{ horario.descripcion }}</td>
					{% if perms.horario.add_sala%}
						<td>
							<a  class="btn btn-primary btn-xs" href=" {% url 'horario-update' horario.id  %} ">Editar</a> 
							<a  class="btn btn-primary btn-xs" href=" {% url 'horario-delete' horario.id %} ">Eliminar</a>
						</td>
					{% endif %}
				</tr>
				{% endfor %}
				{% else %}
					<h4>No hay horarios disponibles!, se deben registrar...</h4>
				{% endif %}
			</tbody>
		</table>
		<div class="row">
			<div class="col-md-offset-0	col-md-12"">
				<a  class="btn btn-primary btn-xs" href=" {% url 'horario-create' %} ">Nuevo</a> 
			</div>
		</div>
	</div>
</div>
{% endblock %}